<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">	
	<select id="adminLogin" parameterType="AdminDTO" resultType="AdminDTO">
		SELECT ADMIN_NUMBER as adminNum, ADMIN_NICKNAME as adminNick, ADMIN_ID, ADMIN_PW
		from tbl_admin
		where admin_id = #{adminId} and admin_pw = #{adminPw}
	</select>
	
	<select id="totalMember" parameterType="UserDTO" resultType="UserDTO">
		SELECT 
    	CASE WHEN USER_CERT = 'T' THEN '멘토' ELSE '일반' END AS grade,
    	USER_ID AS userId,
   		USER_NICK AS userNick,
    	CASE WHEN USER_CERT = 'T' THEN '🎇' ELSE '-' END AS badge,
   		USER_MONITER AS userMoniter,
    	USER_JOIN_DATE AS userJoinDate FROM TBL_USER
	</select>
 
	<select id="generalMember" parameterType="UserDTO" resultType="UserDTO">
		SELECT 
    	CASE WHEN USER_CERT = 'T' THEN '멘토' ELSE '일반' END AS grade,
    	USER_ID AS userId,
    	USER_NICK AS userNick,
    	CASE WHEN USER_CERT = 'T' THEN '🎇' ELSE '-' END AS badge,
    	USER_MONITER AS userMoniter,
    	USER_JOIN_DATE AS userJoinDate FROM TBL_USER WHERE USER_CERT = 'F'
	</select>
	
	<select id="mentoMember" parameterType="UserDTO" resultType="UserDTO">
		SELECT 
    	CASE WHEN USER_CERT = 'T' THEN '멘토' ELSE '일반' END AS grade,
    	USER_ID AS userId,
    	USER_NICK AS userNick,
    	CASE WHEN USER_CERT = 'T' THEN '🎇' ELSE '-' END AS badge,
    	USER_MONITER AS userMoniter,
	    USER_JOIN_DATE AS userJoinDate FROM TBL_USER WHERE USER_CERT = 'T'
	</select>

	<select id="notice" parameterType="NoticeDTO" resultType="NoticeDTO">
		SELECT NOTICE_CATEGORY ,NOTICE_TITLE, NOTICE_DATE, NOTICE_VIEW, NOTICE_TEXT FROM TBL_NOTICE 
	</select>
 	
	<select id="tipDev" parameterType="ArticleDTO" resultType="ArticleDTO">
		SELECT  
		A.ARTICLE_TAGNAME AS articleTagname, 
		A.ARTICLE_TITLE AS articleTitle, 
		U.USER_NICK AS userNick,
  		CASE 
        	WHEN U.USER_CERT = 'T' THEN '멘토'
        	WHEN U.USER_CERT = 'F' THEN '일반'
    	END AS grade,
    	A.ARTICLE_DATE AS articledate, A.ARTICLE_VIEW AS articleView 
		FROM TBL_ARTICLE A JOIN TBL_USER U ON 
		A.USER_NUM = U.USER_NUM WHERE A.ARTICLE_TOPCATE = '개발' 
		AND A.ARTICLE_BOTCATE = '꿀팁'
		ORDER BY A.ARTICLE_DATE DESC
	</select>

	<select id="tipSec" parameterType="ArticleDTO" resultType="ArticleDTO">
		SELECT  
		A.ARTICLE_TAGNAME AS articleTagname, 
		A.ARTICLE_TITLE AS articleTitle, 
		U.USER_NICK AS userNick,
  		CASE 
        	WHEN U.USER_CERT = 'T' THEN '멘토'
        	WHEN U.USER_CERT = 'F' THEN '일반'
    	END AS grade,
    	A.ARTICLE_DATE AS articledate, A.ARTICLE_VIEW AS articleView 
		FROM TBL_ARTICLE A JOIN TBL_USER U ON 
		A.USER_NUM = U.USER_NUM WHERE A.ARTICLE_TOPCATE = '보안' AND A.ARTICLE_BOTCATE = '꿀팁'
		ORDER BY A.ARTICLE_DATE DESC
	</select>
	
	<select id="tipQual" parameterType="ArticleDTO" resultType="ArticleDTO">
		SELECT  
		A.ARTICLE_TAGNAME AS articleTagname, 
		A.ARTICLE_TITLE AS articleTitle, 
		U.USER_NICK AS userNick,
  		CASE 
        	WHEN U.USER_CERT = 'T' THEN '멘토'
        	WHEN U.USER_CERT = 'F' THEN '일반'
    	END AS grade,
    	A.ARTICLE_DATE AS articledate, A.ARTICLE_VIEW AS articleView 
		FROM TBL_ARTICLE A JOIN TBL_USER U ON 
		A.USER_NUM = U.USER_NUM WHERE A.ARTICLE_TOPCATE = '자격증' AND A.ARTICLE_BOTCATE = '꿀팁'
		ORDER BY A.ARTICLE_DATE DESC
	</select>
	
	<select id="askDev" parameterType="ArticleDTO" resultType="ArticleDTO">
		SELECT  
		A.ARTICLE_TAGNAME AS articleTagname, 
		A.ARTICLE_TITLE AS articleTitle, 
		U.USER_NICK AS userNick,
  		CASE 
        	WHEN U.USER_CERT = 'T' THEN '멘토'
        	WHEN U.USER_CERT = 'F' THEN '일반'
    	END AS grade,
    	A.ARTICLE_DATE AS articledate, A.ARTICLE_VIEW AS articleView 
		FROM TBL_ARTICLE A JOIN TBL_USER U ON 
		A.USER_NUM = U.USER_NUM WHERE A.ARTICLE_TOPCATE = '개발' AND A.ARTICLE_BOTCATE = '질문'
		ORDER BY A.ARTICLE_DATE DESC
	</select>

	<select id="askSec" parameterType="ArticleDTO" resultType="ArticleDTO">
		SELECT  
		A.ARTICLE_TAGNAME AS articleTagname, 
		A.ARTICLE_TITLE AS articleTitle, 
		U.USER_NICK AS userNick,
  		CASE 
        	WHEN U.USER_CERT = 'T' THEN '멘토'
        	WHEN U.USER_CERT = 'F' THEN '일반'
    	END AS grade,
    	A.ARTICLE_DATE AS articledate, A.ARTICLE_VIEW AS articleView 
		FROM TBL_ARTICLE A JOIN TBL_USER U ON 
		A.USER_NUM = U.USER_NUM WHERE A.ARTICLE_TOPCATE = '보안' AND A.ARTICLE_BOTCATE = '질문'
		ORDER BY A.ARTICLE_DATE DESC
	</select>

	<select id="askQual" parameterType="ArticleDTO" resultType="ArticleDTO">
		SELECT  
		A.ARTICLE_TAGNAME AS articleTagname, 
		A.ARTICLE_TITLE AS articleTitle, 
		U.USER_NICK AS userNick,
  		CASE 
        	WHEN U.USER_CERT = 'T' THEN '멘토'
        	WHEN U.USER_CERT = 'F' THEN '일반'
    	END AS grade,
    	A.ARTICLE_DATE AS articledate, A.ARTICLE_VIEW AS articleView 
		FROM TBL_ARTICLE A JOIN TBL_USER U ON 
		A.USER_NUM = U.USER_NUM WHERE A.ARTICLE_TOPCATE = '자격증' AND A.ARTICLE_BOTCATE = '질문'
		ORDER BY A.ARTICLE_DATE DESC
	</select>
	
 	<insert id="write" parameterType="NoticeDTO">
		insert into tbl_notice(notice_num as noticeNum, notice_category as noticeCategory, 
		notice_title as noticeTitle, notice_text as noticeText, notice_view as noticeView, 
		admin_number as adminNum)
		values(seq_notice.nextVal, #{noticeCategory}, #{noticeTitle}, #{noticeText},
		 #{noticeView}, #{adminNum})
	</insert> 
</mapper>