<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main">


<!-- BEST 질문 -->
<select id="selectBestMoon " parameterType="ArticleDTO" resultType="ArticleDTO">

SELECT * FROM TBL_ARTICLE
WHERE ARTICLE_BOTCATE = '질문'
AND ARTICLE_MONITER_NUM = (
	SELECT MAX(ARTICLE_MONITER_NUM)
	FROM TBL_ARTICLE
	WHERE ARTICLE_BOTCATE = '질문'
)
</select>


<!-- BEST 꿀팁  -->
<select id="selectBestTip" parameterType="ArticleDTO" resultType="ArticleDTO">

SELECT * FROM TBL_ARTICLE
WHERE TBL_ATRTICLE_BOTCATE ='꿀팁'
AND ARTICLE_MONITER_NUM = (
	SELECT MAX(ARTICLE_MONITE R_NUM)
	FROM TBL_ARTICLE
	WHERE ARTICLE_BOTACTE = '꿀팁'
)

</select>

<select id="selectRanking" resultType="userDTO">

SELECT
	USER_NUM,
	USER_ID,
	USER_NAME,
	USER_NICK,
	USER_PW,
	USER_PHONE,
	USER_MAIL,
	USER_CERT,
	TO_NUMBER_(USER_MONITER) AS USER_MONITER,
	USER_AGREE,
	USER_CAREER,
	USER_JOIN_DATE
FROM TBL_USER
ORDER BY TO_NUMBER(USER_MONITER) DESC
FETCH FIRST 5 ROWS ONLY
	

</select>


</mapper>
